simplejson==3.17.0
jsonlib==1.6.1
PyMySQL==0.9.3
Flask-JSON==0.3.4
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
Flask-GoogleCharts==0.1.0
setuptools==44.1.0
Flask-MySQL==1.5.1
Flask-Mail==0.9.1
passlib==1.7.2
simplejson==3.17.0
headless-pdfkit==0.1.1
pdfcrowd==4.12.0