<!DOCTYPE html>
<html>
<p>
Hello {{ data }},
</p>
<body>
    <p>
        <p>You recently requested to reset your password for your HealthCare Equipment Management account. Use the button below to reset it. <strong>This password reset is only valid for the next 24 hours.</strong></p>
                       
</p>
<p>
        <a href=" {{ link }}" class="login100-form-btn shadow">Reset your password</a>
                                 
    
 </p>
 <p>If you’re having trouble with the button above, copy and paste the URL below into your web browser.</p>
 <p>{{ link }}</p>
    <p>
    Thank You ;
</p>
<p>
    HealthCare Equipment Management Team.
</p>

</body>
</html>
  