<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/util.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css')}}">
		<title>Equipment Management</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
		<script type="text/javascript" src="{{ url_for('static', filename='js/register1.js') }}"/>
		
		<script type="text/javascript">
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
				
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAimtp0GRnTrNPgZtsC8IGNZPfoqhBn-k8&libraries=places"></script>
    <script>
   google.maps.event.addDomListener(window, 'load', function(){
  
      var places = new google.maps.places.Autocomplete(document.getElementById('haddress'));
   
       google.maps.event.addListener(places, 'place_changed', function () {

       var place = places.getPlace();
       var location = "Address: " + place.formatted_address + "<br/>";
         location += "Latitude: " + place.geometry.location.lat() + "<br/>";
        location += "Longitude: " + place.geometry.location.lng();
		haddress= place.formatted_address;
        lat = place.geometry.location.lat(); 
        lng = place.geometry.location.lng();
		document.getElementById('latp').value = lat
		document.getElementById('lngp').value = lng
		console.log(lat)
		typeof lat;
       });

   })

</script>
	</head>
	<body>
		<input  type="text"  id="latp" hidden="hidden" />
		<input  type="text"  id="lngp" hidden="hidden" />
	<div class="limiter" id="signupform">
		<div class="container-login100">
			<div class="wrap-login100" style="padding: 18px;" >
					<div class="container-login100-form-btn">
					<span class="txt5 p-b-9">
					
					<h3>Hospital Details</h3>
					</span>
				    </div>
					<div id="msg"></div>
					
				       <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input class="input100" type="text" placeholder="Hospital Name" id = "hname">
						<span class="focus-input100"></span>
					</div>
					
				       <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input class="input100" type="text" placeholder="Address" id = "haddress">
						<span class="focus-input100"></span>
					</div>
					
				       <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<select name="District" placeholder="District" class="input100"  id="hdistrict" >
							<option value="District">District</option>
							<option value="Alappuzha">Alappuzha</option>
							<option value="Ernakulam">Ernakulam</option> 
							<option value="Idukki">Idukki</option>
							<option value="Kannur">Kannur</option>
							<option value="Kasaragod">Kasaragod</option>     
							<option value="Kollam">Kollam</option>
							<option value="Kottayam">Kottayam</option>
							<option value="Kozhikode">Kozhikode</option>
							<option value="Malappuram">Malappuram</option>
							<option value="Palakkad">Palakkad</option>
							<option value="Pathanamthitta">Pathanamthitta</option>
							<option value="Thiruvananthapuram">Thiruvananthapuram</option>
							<option value="Thrissur">Thrissur</option>
							<option value="	Wayanad">Wayanad</option>
						</select>
						<span class="focus-input100"></span>
					</div>
					<div id="msg"></div>
				       <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input class="input100" type="text" placeholder="Pincode" id = "hpincode">
						<span class="focus-input100"></span>
					</div>
					
					
				       <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input class="input100" type="text" placeholder="Phone Number" id = "hphno" maxlength="10">
						<span class="focus-input100"></span>
					</div>

                        
					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input class="input100" type="email" placeholder="Email" id = "hemail">
						<div id="msg"></div>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
						<input class="input100" type="text" placeholder="Number of Ventilator" id = "vnum">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
						<input class="input100" type="text" placeholder=" Ventilators in use" id = "vuse">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
						<input class="input100" type="text" placeholder=" Ventilators Available" id = "vavail" >
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn ">
						
							<input type="button" id="signupSubmit" value="Submit" class="login100-form-btn shadow">	
												
					</div>

					<div class="container-login100-form-btn " style="padding-top: 40px;">
						
						<input type="button" id="logout" value="Skip" class="login100-form-btn shadow">	
											
				</div>				
				          	
			</div>
		</div>
	</div>
    
</body>
</html>