<!DOCTYPE html>
<html>
	<head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/util.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css')}}">
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.default.min.css">
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.bootstrap_3.min.css"> 
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.blue.min.css"> 
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css')}}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/widgets/widget-filter.min.js"></script>	
	
<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
  <script type="text/javascript">
 
    $.tablesorter.filter.types.start = function( config, data ) {
  if ( /^\^/.test( data.iFilter ) ) {
    return data.iExact.indexOf( data.iFilter.substring(1) ) === 0;
  }
  return null;
};

// search for a match at the end of a string
// "a$" matches "Llama" but not "aardvark"
$.tablesorter.filter.types.end = function( config, data ) {
  if ( /\$$/.test( data.iFilter ) ) {
    var filter = data.iFilter,
      filterLength = filter.length - 1,
      removedSymbol = filter.substring(0, filterLength),
      exactLength = data.iExact.length;
    return data.iExact.lastIndexOf(removedSymbol) + filterLength === exactLength;
  }
  return null;
};

$(function() {


  $('#filters').tablesorter({
    widthFixed: false,  
    theme: 'blue',
    widgets: ['zebra', 'filter'],
   
    
    widgetOptions: {
      filter_reset: '.reset'
    }
  });

  // External search
  // buttons set up like this:
  // <button type="button" class="search" data-filter-column="4" data-filter-text="2?%">Saved Search</button>
  $('button').click(function() {
    var $t = $(this),
      col = $t.data('filter-column'), // zero-based index
      filter = [];

    filter[col] = $t.text(); // text to add to filter
    $('#filters').trigger('search', [ filter ]);
    return false;
  });

});




  </script>  
</head>
<body>
    	
	<div class="container-login1002">
            <div class="wrap-login1002">
                <div style="padding: 10px;">
                
                     Ventilator Tracker 	
                    </div>
                
                 
                <div>
                <input type="button" id="logout" value="Logout" style="padding:10px; margin-right: 10px; float:right;" onclick="window.location='https://lisha-python-web.el.r.appspot.com/';">
                </div>
               
            
                <div id="backf">
                <input type="button" id="back" value="Home" style="padding:10px; margin-right: 10px; float:right;" onclick="window.location='https://lisha-python-web.el.r.appspot.com/index';">
                </div>
                <div>
                  <input type="button" id="download" value="Download" style="padding:10px; margin-right: 10px; float:right;" onclick="window.location='https://lisha-python-web.el.r.appspot.com/pdf';">
              
             </div>
            
             </div>	
             
        </div>
        
        <div class="limiter1" id="homeform">
            <div class="container-login1006" id="form1">
                <div class="wrap-login1006">
                
        <table id="filters" class="tablesorter">
                <thead>
                  <tr><th>Hospital Name</th><th>Total Ventilator</th><th>Ventilators in use </th><th>Available Ventilators</th></tr>
                </thead>
                <tbody>
                 
                     {% block content %}
                       {% for row in data %}
                       <tr>
                        <td>{{ row.hname }}</td>
                        <td>{{ row.vnum }}</td>
                        <td>{{ row.vuse }}</td>
                        <td>{{ row.vavail }}</td>
                    </tr> 
                        {% endfor %}
                        {% endblock %}  
                   
                </tbody>
              </table>
</div>
</div>
</div>
</body>
</html>
